<h2 class="page_title">Albums</h2>

<a class="add-link" href="/albums/new">Add new album</a>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Stock Level</th>
    <th>Markup</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href="albums/<%= album.id %>"><%= album.title %></a></td>
    <td><a href="artists/<%= album.artist.id %>"><%= album.artist.name %></a></td>
    <td><%= album.genre %></td>
    <td><%= album.stock_check %></td>
    <td>£<%= album.markup %></td>
  </tr>
  <%end%>
</table>
