<h2>Album Information</h2>

<p>Title: <%= @album.title %></p>
<p>Artist: <a href="/artists/<%= @album.artist.id %>"><%= @album.artist.name %></a></p>
<p>Stock Level: <%= @album.stock_check %></p>
<p>Albums in Stock: <%= @album.stock %></p>

<p><a href="/albums/<%=@album.id%>/edit">Edit Album</a></p>

<form action="/albums/<%=@album.id%>/delete" method="post">
  <input type="submit" value="Remove Album">
</form>